body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #3232CD;
    color: #333;
    padding-top: 60px;
  }
  
  header {
    background: #4D4DFF;
    color: #23238E;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  nav a {
    color: #7FFF00;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
  }
  
  nav a:hover {
    color: #FFFF00;
    background-color: #007FFF;
  }
  
  .section {
    padding: 20px;
    margin: 20px auto;
    background: white;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
  }
  
  footer {
    background: #38B0DE;
    color: #3232CD;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  